<!-- <script
  src="https://cdn.jsdelivr.net/npm/jquery@3.2.1/dist/jquery.min.js"
  crossorigin="anonymous">
</script>
<script
  src="https://cdn.jsdelivr.net/npm/vide@0.5.1/dist/jquery.vide.min.js"
  crossorigin="anonymous">
</script> -->
<script
  src="{{ '/assets/js/jquery-3.2.1.min.js' | prepend: site.baseurl }}"
  crossorigin="anonymous">
</script>
<script
  src="{{ '/assets/js/jquery.vide.min.js' | prepend: site.baseurl }}"
  crossorigin="anonymous">
</script>
<script
  src="{{ '/assets/js/custom.js' | prepend: site.baseurl }}"
  crossorigin="anonymous">
</script>
<!-- End Javascript -->