@font-face {
  font-family: 'Source Han Serif CN';
  src: local('Source Han Serif CN Regular'),
       url('../fonts/SourceHanSerif-Regular.ttc') format('truetype');
}

@font-face {
  font-family: 'Source Han Serif CN Regular';
  src: local('Source Han Serif CN Regular'),
       url('../fonts/SourceHanSerif-Regular.ttc') format('truetype');
}

@font-face {
  font-family: 'Source Han Serif CN Bold';
  src: local('Source Han Serif CN Bold'),
       url('../fonts/SourceHanSerif-Bold.ttc') format('truetype');
}

@font-face {
  font-family: 'Source Han Serif CN ExtraLight';
  src: local('Source Han Serif CN ExtraLight'),
       url('../fonts/SourceHanSerif-ExtraLight.ttc') format('truetype');
}

@font-face {
  font-family: 'Source Han Serif CN Heavy';
  src: local('Source Han Serif CN Heavy'),
       url('../fonts/SourceHanSerif-Heavy.ttc') format('truetype');
}

@font-face {
  font-family: 'Source Han Serif CN Light';
  src: local('Source Han Serif CN Light'),
       url('../fonts/SourceHanSerif-Light.ttc') format('truetype');
}

@font-face {
  font-family: 'Source Han Serif CN Medium';
  src: local('Source Han Serif CN Medium'),
       url('../fonts/SourceHanSerif-Medium.ttc') format('truetype');
}

@font-face {
  font-family: 'Source Han Serif CN SemiBold';
  src: local('Source Han Serif CN SemiBold'),
       url('../fonts/SourceHanSerif-SemiBold.ttc') format('truetype');
}